/*!
 * Start Bootstrap - Small Business (https://startbootstrap.com/template-overviews/small-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-small-business/blob/master/LICENSE)
 */
body {
  padding-top: 120px;
  background-color: #ecf0f1;
}

.navLogo{
	padding-right: 20px;
}

#navbarColor{

}

.container.pageContent{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
}

.list-group-item.active{
	background-color: #2980b9;
}

.card.publications{
	height: 600px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 18%;
  background-color: #f5f5f5;
}

.footer p{
  color: white;
}


.card-header a{
  color: #26428b;
}
